---
import Card from '../components/Card.tsx';
---

<div class="centro"
<h1></h1>
<Card />

<style>
.centro {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
	height: 100vh; 
}
h1{
	font-size: 40px; 
	font-family: Arial, sans-serif;
}

</style>