---
import BuyList from '../components/BuyList.tsx';

const buyList = [
	'Controller',
	'Bread',
	'Water', 
	'NoteBook',
	'Math Book',
	'Choco Bar',
	'Milk'
	]
---

<h1>Lista de Compras</h1>
<BuyList buyList={buyList} />

